.body {
    background-color: black;
}

.hero-img {
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--StRkI7Ze--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://codesandtags.github.io/blog/static/0c42bdee6c2a7e213cacc2b33ac3039c/a0304/hero.webp");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Khula;
    font-size: 4em;
    text-align: center;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

.last-img-carousel {
    color: black;
}

.carousel-inner-img {
    width: 100%;
    height: 100%;
}

.container-body {
    width: 100%;
}

.divisor {
    background-color: white;
    height: 100px;
}

.space {
    margin-top: 50px;
    width: 100%;
}

.img-iam {
    height: 100px;
    width: 100px;
}

.block-0-soy {
    height: 500px;
    width: 100%;
    background-color: gray;
    background-image: url('https://z-p3-scontent.fccs1-1.fna.fbcdn.net/v/t1.0-9/14650449_10154730787794258_3598953475305820105_n.jpg?_nc_cat=104&_nc_sid=174925&_nc_ohc=14n5gwwtNw8AX-ExuGl&_nc_ht=z-p3-scontent.fccs1-1.fna&oh=4449d85cbb9df2e03d1c015e8fc79555&oe=5F47296F')
}

.block-1-soy {
    height: 350px;
    width: 100%;
    background-color: black;
    color: white;
}

.block-0-tech {
    background-color: grey;
    color: white;
    width: 500px;
}

.block-1-tech {
    width: 100%;
    background-color: grey;
    background-image: url('https://codeberryschool.com/blog/wp-content/uploads/2018/08/Blog_Learn-to-code-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-1-tech {
    src: url('https://media.giphy.com/media/1oF1KAEYvmXBMo6uTS/giphy.gif')
}

.card-social {
    display: inline-block;
    margin: 42px;
}

.img-card {
    height: 200px;
    width: 100%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.hab-descript {
 color: whitesmoke;
}